<div class="max-w-sm mx-auto">
  <app-header></app-header>
  <loading-toast
    [isLoading]="isDownloading"
    [content]="'downloading new version...'"
  ></loading-toast>
  <toast [toastContent]="toastContent"></toast>
  <div class="mb-5">
    <app-file-uploader
      [infoContent]="
        'FSECのoutput fileを選択してください。 ファイルは複数選択することができます。'
      "
      (filePathList)="getFilePath($event)"
    ></app-file-uploader>
  </div>
  <!-- データ名の編集フォーム -->
  <form-title
    *ngIf="this.pathAndDefaultName.length > 0"
    [title]="'Selected Data Name'"
    [infoContent]="'グラフに表示するデータ名を変更することができます'"
  ></form-title>
  <form [formGroup]="dataNameList">
    <div formArrayName="dataArray">
      <div
        class="mb-5"
        *ngFor="let control of dataArray.controls; let i = index"
      >
        <input
          type="text"
          [formControlName]="i"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
    </div>
  </form>
  <!-- データ名の編集フォーム終わり -->
  <div class="mb-5">
    <input-form
      [title]="'Title'"
      [placeholder]="'Input title'"
      [infoContent]="'描画する際のタイトルを入力してください'"
      (inputTitle)="getInputTitle($event)"
    ></input-form>
  </div>
  <div class="mb-5">
    <dropdown-form
      [title]="'Select Fluorescence'"
      [label]="'Select Fluorescence'"
      [infoContent]="'蛍光の種類を選択してください'"
      (tags)="getTag($event)"
    ></dropdown-form>
  </div>
  <button
    (click)="_onSubmit()"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
</div>
