<div class="max-w-sm mx-auto">
  <img src="data:image/png;base64,{{ logoImage }}" />
  <div class="mb-5">
    <app-file-uploader (filePathList)="getFilePath($event)"></app-file-uploader>
  </div>
  <div class="mb-5">
    <input-form
      [title]="'Title'"
      [placeholder]="'Input title'"
      (inputTitle)="getInputTitle($event)"
    ></input-form>
  </div>
  <div class="mb-5">
    <dropdown-form
      [title]="'Select Fluorescence'"
      [label]="'Select Fluorescence'"
      (tags)="getTag($event)"
    ></dropdown-form>
  </div>
  <button
    (click)="_onSubmit()"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Submit
  </button>
</div>
